footer {
    padding: $body-padding;
    background-color: $main-color;
    padding-top: 75px;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: .1fr .1fr .1fr;
}

.subscribe-space {
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 53px 69px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 40px;

    &__input {
        width: 67%;
        font-size: 30px;
        color: #A7A7A7;
        padding: 15px;
        border-radius: 5px;
        border: none;
        margin-right: 20px;

        &::placeholder {
            color: #A7A7A7;
        }
    }

    &__button {
        width: 26.9%;
        font-size: 30px;
        color: $main-color;
        background-color: #ffffff;
        border-radius: 5px;
        border: none;
        padding: 15px;
        cursor: pointer;
        float: right;
        font-weight: 600;
        transition: .3s;

        &:hover {
            background-color: #ffffffe1;
        }
    }
}

.popular-posts {
    color: #ffffff;
    cursor: default;

    &__title {
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 45px;
    }
}

.post {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1.2fr;

    &:first-of-type {
        margin-bottom: 30px;
    }

    &__link-image {
        grid-row-start: 1;
        grid-row-end: 3;
        margin-right: 20px;
        position: relative;

        &:hover::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 98%;
            background-color: #00000079;
            z-index: 2;
        }
    }

    &__price {
        margin: 0;
        align-self: flex-end;
        font-size: 24px;
        width: max-content;
        color: #ffffff;
    }

    &__title {
        display: block;
        max-width: max-content;
        margin: 0;
        height: max-content;
        font-weight: normal;
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        word-wrap: normal;
    }
}

.information {
    color: #ffffff;
    justify-self: flex-end;
    display: grid;
    grid-template-rows: .1fr 1fr 1fr;
    cursor: default;


    &__title {
        font-weight: normal;
        font-size: 30px;
        margin-bottom: 45px;
    }

    &__section {

        &:last-of-type {
            align-self: flex-end;
        }
    }

    &__item {
        color: #ffffff;
        display: block;
        width: max-content;
        margin-bottom: 20px;

        &:last-of-type {
            margin: 0;
        }
    }
}

.links-space {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 50px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left-side {
        display: grid;
        grid-template-columns: 30px auto;
    }

    &__border-line {
        position: absolute;
        height: 1.5px;
        background-color: #ffffff;
        width: 100%+18.3875%*2;
        left: -18.4375%;
        top: 0;
    }

    &__copyright-icon {
        display: inline-block;
        align-self: center;
    }

    &__rights {
        display: inline-block;
        margin: 0;
        align-self: center;
        color: #ffffff;
        cursor: default;
    }

    &__right-side {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__link {
        justify-self: center;
        border: 1px solid #ffffff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

@media (max-width:1350px) {
    .subscribe-space {
        padding: 20px 30px;
    
        &__input {
            width: 100%;
            margin: 0 0 20px 0;
            box-sizing: border-box;
        }
    
        &__button {
            width: 35%;
            font-size: 28px;
        }
    }

    .popular-posts {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        margin-bottom: 30px;

        &__title {
            justify-self: center;
        }
    }

    .post {
        display: grid;
        grid-template-rows: 1fr 2fr;
    }

    .information {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr;

        &__title {
            justify-self: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .links-space {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &__left-side {
            justify-self: center;
            margin-bottom: 20px;
        }
    }
}

@media (max-width:767px) {
    .subscribe-space {
        padding: 0;
        border: none;
    
        &__input {
            font-size: 20px;
        }
    
        &__button {
            width: 100%;
            font-size: 24px;
        }
    }

    .post {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr .1fr;
        text-align: center;

        &__link-image {
            justify-self: center;
            margin: 0;
            grid-row-start: 3;
        }

        &__price {
            justify-self: center;
        }

        &__title {
            justify-self: center;
            margin-bottom: 10px;
        }

        &__image {
            max-width: 100%;
        }
    }

    .information {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr;

        &__title {
            justify-self: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .links-space {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &__left-side {
            justify-self: center;
            margin-bottom: 20px;
        }
    }

    .links-space__right-side {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;

        &__link {


        }
    }
}